/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/* Asterix wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #100507;
    font-family: 'roboto-flex', sans-serif;
}


/* Navbar */
#navbar {
    background-color: #254e70;
}

.navbar .logo {
    font-family: 'dm-serif-text', serif;
    font-size: 30px;
}




/* Main content */
main {
    background-color: #ffffff;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 0px;
    height: 50%;
}

/* Footer */
footer {
    background-color: #254e70;
    color: #ffffff;
}