/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root {
    --black: #100507;
    --darker-navy: #254e70;
    --lighter-blue: #37718e;
    --light-green: #aef3e7;
    --white: #ffffff;
}

/* Asterix wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: var(--black);
    font-family: 'roboto-flex', sans-serif;
}

h1 {
    font-family: 'dm-serif-text', serif;
    font-size: 30px;
    margin-top: 1.2rem;
    font-weight: bold;
    text-indent: 0.5rem;
    color: var(--black)
}


/* Navbar */
#navbar {
    background-color: var(--darker-navy);
    z-index: 10;
    position: fixed;
    width: 100%;
}

.navbar .logo {
    font-family: 'dm-serif-text', serif;
    font-size: 30px;
}




/* Main content */
main {
    background-color: var(--white);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 0px;
    height: 0%;
    color: var(--black);
}

body {
    overflow-x: hidden; /* hide horizontal scrollbar */
}    

/* Carousel */





/* Who we help cards */
.card {
    border-color: #ffffff;
    background-color: var(--light-green);
    font-family: 'roboto-flex', sans-serif;
}


.card-title {
    font-weight: bold;
}

.who-we-help {
    text-align: center;
}

.who-we-help-para {
    text-indent: 0.5rem;
    text-align: center;
}

.btn {
    background-color: var(--darker-navy)
}

.btn:hover {
    background-color: var(--lighter-blue)
}



/* Contact Us */

.contact-us {
    margin-top: 3rem;
    margin-bottom: -2rem;
    justify-content: center;
}

.paragraph-contact {
    text-align: center;
    font-style: italic;
}

.form-submit {
    text-align: center;
}

address {
    text-align: center;
    font-weight: bold;
}

.contact-submit {
    border: none;
}


/* Footer */
footer {
    background-color: var(--darker-navy);
    color: #ffffff;
}






